<div class="main user-show">
  <div class="container">
    <div class="user">
      

<% if @user.image_name.present? %>
  <img src="<%= "/user_images/#{@user.image_name}" %>">
<% else %>
  <img src="<%= "/user_images/noimage.png" %>">
<% end %> 


      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
    </div>
  </div>
</div>

